#{extends 'main.html' /}
#{set title:'ユーザー管理' /}

<div>
    <h1>ユーザー管理</h1>
    #{form @Application.create()}
    <input type="text" name="user.email">
    <input type="password" name="password">
    <input type="text" name="user.fullname">
    <input type="submit" value="登録">
    #{/form}
    <table border="1">
        <tr>
            <th>id</th>
            <th>email</th>
            <th>password</th>
            <th>fullname</th>
            <th>isAdmin</th>
            <th>delete</th>
        </tr>
        #{list items:users, as:'user'}
        <tr>
            <td>${user.id}</td>
            <td>${user.email}</td>
            <td>${user.password.maskedPassword}</td>
            <td>${user.fullname}</td>
            <td>${user.isAdmin}</td>
            <td><a href="@{Application.delete(user.id)}">delete</a></td>
        </tr>
        #{/list}
    </table>
</div>