#{extends 'main.html' /}
#{set title:'ユーザー管理' /}

<div class="container">
    <div class="page-header">
        <h1>ユーザー管理<small> - 更新</small></h1>
    </div>
    #{ifErrors}
    <div class="alert alert-block">
        <a class="close" data-dismiss="alert">&times;</a>
        <h4 class="alert-heading">Oops…</h4>
        #{errors}
            <li>${error}</li>
        #{/errors}
    </div>
    #{/ifErrors}
    #{form @Application.update(), class:'well form-horizontal'}
        <label>ID</label>
        <input type="text" value="${user.id}" name="id" readonly>
        <hr>
        <label>MAIL</label>
        <input type="text" value="${user.email}" name="email">
        <hr>
        <label>NAME</label>
        <input type="text" value="${user.fullname}" name="fullname">
        <hr>
        <div>
            <button type="submit" class="btn">update</button>
            <a href="@{Application.index()}" class="btn">cancel</a>
        </div>
    #{/form}
</div>